#! /bin/sh
# debconf notice

set -e

. /usr/share/debconf/confmodule

if [ "$1" != "configure" ]; then
    exit 0;
fi

if dpkg --compare-versions "$2" lt-nl "1.32-1" && \
    [ -e /etc/postfix/main.cf ] && \
    grep -q 'inet:127.0.0.1:60000' /etc/postfix/main.cf; then

    db_input critical postgrey/1.32-3_changeport || true
    db_go || true
fi
